<h2 class=""><%= link_to 'Players of the NBA', players_path %></h2>

<h4><%= @player.full_Name %></h4>
<p>
  <strong>Rating:</strong>
  <%= @player.rating %>
  <progress class="progress" value="<%= @player.rating%>" max="100"></progress>
</p>
<p>
  <strong>Team:</strong>
  <%= link_to "#{@player.team.city} #{@player.team.name}", @player.team %>
</p>
<p>
  <% if @player.positions_list.size > 1 %>
    <strong>Primary Position:</strong>
    <%= @player.positions_list.first %> <br>
    <strong>Secondary Position:</strong>
    <%=  @player.positions_list.last %>
  <% else %>
    <strong>Primary Position:</strong>
    <%=  @player.positions_list.first %>
  <% end %>
</p>
<p>
  <strong>Jersey Number:</strong>
  <%= @player.jersey_No%>
</p>
<p>
  <strong>Birthday:</strong>
  <%= @player.birthday %>
</p>
<p>
  <strong>Height:</strong>
  <%= @player.height.sub("-","'") %>"
</p>
<p>
  <strong>Weight:</strong>
  <%= @player.weight %> lbs.
</p>
<p>
  <strong>Salary:</strong>
  <%= number_to_currency(@player.salary) %>
</p>
<p>
  <strong>Country:</strong>
  <%= @player.country.name %>
</p>