<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nba Rails Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
      <a class="navbar-brand ml-5" href="<%= root_path %>">
        <img src="/assets/nba-logo-transparent.png" alt="NBA Logo" width="24"  href="<%= root_path %>">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ml-5" id="basicExampleNav">
        <ul class="navbar-nav mr-auto">
              <li class="nav-item"><a class="nav-link" href="<%= teams_path %>">Teams</a></li>
              <li class="nav-item"><a class="nav-link" href="<%= players_path %>">Players</a></li>
              <li class="nav-item"><a class="nav-link" href="<%= countries_path %>">Countries</a></li>
              <li class="nav-item"><a class="nav-link" href="<%= arenas_path %>">Arenas</a></li>
              <li class="nav-item"><a class="nav-link" href="<%= about_index_path %>">About</a></li>
        </ul>
        <%= form_with(url: search_home_index_path, method: :get, local: true, class: "form-inline") do %>
          <div class="md-form my-0 mr-5" style="display:flex">
            <%= text_field_tag(:keywords, nil, class: :input, placeholder: 'Search', class: "form-control mr-sm-2") %>
            <%= submit_tag("Search", class: "btn btn-light") %>
          </div>
        <% end %>
      </div>
    </nav>
    <section class="section">
      <div class="container">
        <%= yield %>
      </div>
    </section>
  </body>
</html>
